



<div class="row">
  <div *ngFor="let poke of pokemons" class="col-md-3 colsm-6"> <!-- divide la pantalla de las card en 12 y en pantalals chivcas 6-->
    <div *ngIf="pokemons">
      <div class="card mb-2 text-center bg-dark">
        <img [src]="poke.sprites.front_default" [alt]="pokemons.name" class="card-img-top">

        <div class="card-body text-white">
          <div class="card-text">
            <p class="badge bg-primary text-wrap" >Nombre:</p>  {{poke.name | uppercase }}
          </div>
          <div *ngIf="poke.abilities[0].ability.new" class="card-text">
            <p class="badge bg-primary text-wrap">Habilidad: </p> {{poke.abilities[0].ability.new.effect_entries[0].effect}}
          </div>

        </div>
      </div>

    </div>
  </div>
  <div *ngIf="pokemons.length === 0" class="mx-auto text-center text-primary">Busca tu pokemon</div>

  <div *ngIf="pokemons[100]">solo 111</div>

</div>
